* {
	box-sizing: border-box;

	/* only this code will fix everything */
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	word-wrap: break-word;
}
.food-munch-logo {
	height: 80px;
	width: 70px;
}

#navitem1 {
	color: black;
}

#navitem2 {
	color: black;
}

#navitem3 {
	color: black;
}

#navitem4 {
	color: black;
}

.banner-section {
	background-image: url('https://i.ibb.co/m9sqsPH/download-1.jpg');
	background-size: cover;
	height: 555px;
}

.heading {
	color: white;
	font-size: 50px;
}

.para {
	color: white;
	font-size: 34px;
}

.btn1 {
	height: 50px;
	width: 130px;
	background-color: yellow;
	border-radius: 10px;
	border: none;
	margin-right: 15px;
}

.btn2 {
	color: yellow;
	height: 50px;
	width: 130px;
	border-radius: 10px;
	/* this to button */
	font-weight: 900;
	background: none;
	border: 2px solid yellow;
}

.wcu-section {
	background-color: #f9fbfe;
}

.wcu-description {
	color: #5a7184;
	font-family: 'Roboto';
	font-size: 16px;
}

.wcu-section-card {
	text-align: center;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #e5eaf4;
	border-radius: 16px;
}

.offers {
	border: 0.2px solid red;
}

.menu-section {
	background-color: #f9fbfe;
	border-radius: 10px;
}

.menu-section-heading {
	color: black;
}

.menu-card {
	border-radius: 1rem;
}

.menu-card-heading {
	font-size: 20px;
	padding-top: 20px;
}

.menu-card-link {
	padding: 5px;
	font-size: 20px;
}

.healthy-food-section {
	border: 0.6px solid rgb(221, 209, 209);
	border-radius: 8px;
}

.health-food-image {
	border: none;
}
.offers-section {
	border: 0.5px solid whitesmoke;
	border-radius: 10px;
}
.gift-section-image {
	height: 110px;
	width: 110px;
}

/*  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
        

}
.body{
    
    
    overflow: none;
}
@media screen(max-width:400px){
    *{
        overflow-x: hidden;
        
    }
}
h1,h2,h3,h4,h5,h6{
    word-wrap: break-word;
}
.food-munch-logo {
    height: 80px;
    width: 70px;
}

#navitem1 {
    color: black
}

#navitem2 {
    color: black
}

#navitem3 {
    color: black
}

#navitem4 {
    color: black
}

.banner-section {
    background-image: url("https://i.ibb.co/m9sqsPH/download-1.jpg");
    background-size: cover;
    height:555px;
}

.heading {
    color: white;
    font-size: 50px;
}

.para {
    color: white;
    font-size: 34px;
}

.btn1 {
    height: 50px;
    width: 130px;
    background-color: yellow;
    border-radius: 10px;
    border: none;
    margin-right: 15px;
}

.btn2 {
    color: #d0b200;
    height: 50px;
    width: 130px;
    border-radius: 10px;
    border-color: yellow;
    background-color: transparent;

}

.wcu-section {
    background-color: #f9fbfe;
}

.wcu-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.wcu-section-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.offers {
    border: 0.2px solid red;

}

.menu-section {
    background-color: #f9fbfe;
    border-radius: 10px;

}

.menu-section-heading {
    color: black;


}

.menu-card {
    border-radius: 15px;
    padding: 20px;
    border: 0.5px solid rgb(231, 222, 222);
}

.menu-item-image {
    height: 200px;
    width: 300px;
    border-radius: 10px;
}

.menu-card-heading {
    font-size: 20px;
    padding-top: 20px;
}

.menu-card-link {
    padding: 5px;
    font-size: 20px;
}

.healthy-food-section {
    border: 0.6px solid rgb(221, 209, 209);
    border-radius: 8px;
}

.health-food-image {
    border: none;
   
}
.offers-section{
    border:0.5px solid whitesmoke;
    border-radius: 10px;
}
.gift-section-image{
    height: 110px;
    width:110px;
}
*/
